* {
    margin: 0;
    padding: 0;
}

html {
    background-color: $secondaryColour;
}

.wrapper {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}