* {
    margin: 0;
    padding: 0;
    transition: all 0.8s ease;
}

html {
    background-color: $secondaryColour;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primaryColour;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: -4px;
        left: 0;
        background-color: $secondaryColour;
    }
    &:hover::after,
    &:focus::after {
        background-color: $primaryColour;
        animation: linkHoverEffect 1s step-end infinite;
    }
}

.defaultButton {
    min-height: 50px;
    padding: 5px 15px;
    background-color: $primaryColour;
    border: 2px solid $secondaryColour;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: $headerFont;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover,
    &:focus {
        color: $primaryColour;
        background-color: $secondaryColour;
        border: 2px solid $primaryColour;
    }
}

@keyframes linkHoverEffect {
    50% {
        background-color: $secondaryColour;
    }
}