* {
    margin: 0;
    padding: 0;
}

html {
    background-color: $secondaryColour;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primaryColour;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: -4px;
        left: 0;
        background-color: $secondaryColour;
    }
    &:hover::after,
    &:focus::after {
        background-color: $primaryColour;
        animation: linkHoverEffect 1s step-end infinite;
    }
}

@keyframes linkHoverEffect {
    50% {
        background-color: $secondaryColour;
    }
}