header {
    min-height: 100vh;
}

.navbar {
    ul {
        display: flex;
        padding-left: 55%;
        padding-top: 50px;
        li {
            min-width: 20%;
            text-align: center;
        }
    }
}

.intro {
    margin-top: calc(50vh - 100px);
    padding-left: 15%;
    h1{
        margin-bottom: 10px;
    }
}