@font-face {
    font-family: 'Inconsolata';
    src: url("../fonts/Inconsolata/Inconsolata-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url("../fonts/Inconsolata/Inconsolata-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-weight: bold;
}

html {
    font-size: 125%;
    font-family: $bodyFont, sans-serif;
    font-weight: normal;
    color: $primaryColour;
}

h1, h3, footer {
    font-family: $headerFont, monospace;
    font-weight: normal;
    // line-height: normal;
}

h1 {
    // font-weight: normal;
    font-size: 4rem;
}

h3 {
    // font-weight: normal;
    font-size: 2.5rem;
}

h4 {
    font-size: 1.7rem;
    font-weight: normal;
}

a {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

p {
    font-size: 1.4rem;
    &.skill {
        // font-size: 1rem;
    }
}

span {
    text-transform: capitalize;
}

.smallCopy {
    font-size: 0.8rem;    
}