html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata/Inconsolata-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata/Inconsolata-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: bold;
}
html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: white;
}

h1, h3 {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.7rem;
  font-weight: normal;
}

a {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

p {
  font-size: 1.4rem;
}
span {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #121212;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #121212;
}
a:hover::after, a:focus::after {
  background-color: white;
  -webkit-animation: linkHoverEffect 1s step-end infinite;
          animation: linkHoverEffect 1s step-end infinite;
}

@-webkit-keyframes linkHoverEffect {
  50% {
    background-color: #121212;
  }
}

@keyframes linkHoverEffect {
  50% {
    background-color: #121212;
  }
}
header {
  min-height: 100vh;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 55%;
  padding-top: 50px;
}
.navbar ul li {
  min-width: 20%;
  text-align: center;
}

.intro {
  margin-top: calc(50vh - 100px);
  padding-left: 15%;
}
.intro h1 {
  margin-bottom: 10px;
}

section {
  min-height: 100vh;
  padding: 0 15%;
}

#about {
  padding-top: 30%;
}
#about h3 {
  margin-bottom: 30px;
}

#projects,
#skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

#projects h3 {
  margin-bottom: 100px;
}
#projects .projectContainer {
  margin-bottom: 100px;
  padding: 25px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#projects .projectContainer .imageContainer {
  width: 50%;
  padding-right: 50px;
}
#projects .projectContainer .imageContainer img {
  height: 100%;
}
#projects .projectContainer .textContainer {
  width: 50%;
}
#projects .projectContainer .textContainer h4 {
  margin-bottom: 20px;
}
#projects .projectContainer .textContainer a {
  color: white;
}
#projects .projectContainer .linksContainer {
  margin-top: 20px;
}
#projects .projectContainer .linksContainer a:nth-child(1) {
  margin-right: 25px;
}
#projects .projectContainer:hover, #projects .projectContainer:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
}

#skills .skillsContainer {
  margin-top: 100px;
}
#skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#skills ul li {
  width: 20%;
  margin-bottom: 100px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#skills ul li i {
  font-size: 3rem;
  color: white;
}
#skills ul li p {
  margin-top: 10px;
}
#skills ul li:hover, #skills ul li:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}