html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata/Inconsolata-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata/Inconsolata-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: bold;
}
html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: white;
}

h1, h3, footer {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.7rem;
  font-weight: normal;
}

a {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

p {
  font-size: 1.4rem;
}
span {
  text-transform: capitalize;
}

.smallCopy {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

html {
  background-color: #121212;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #121212;
}
a:hover::after, a:focus::after {
  background-color: white;
  -webkit-animation: linkHoverEffect 1s step-end infinite;
          animation: linkHoverEffect 1s step-end infinite;
}

@-webkit-keyframes linkHoverEffect {
  50% {
    background-color: #121212;
  }
}

@keyframes linkHoverEffect {
  50% {
    background-color: #121212;
  }
}
.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactForm input, .contactForm textarea {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 10px 5px;
  color: #121212;
  font-family: "Montserrat";
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  color: #121212;
  font-size: 1rem;
  opacity: 1;
  line-height: 1.2rem;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  color: #121212;
  font-size: 1rem;
  opacity: 1;
  line-height: 1.2rem;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  color: #121212;
  font-size: 1rem;
  opacity: 1;
  line-height: 1.2rem;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  color: #121212;
  font-size: 1rem;
  opacity: 1;
  line-height: 1.2rem;
}
.contactForm input::placeholder, .contactForm textarea::placeholder {
  color: #121212;
  font-size: 1rem;
  opacity: 1;
  line-height: 1.2rem;
}
.contactForm input:focus, .contactForm textarea:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}
.contactForm input {
  width: 100%;
  margin-bottom: 20px;
}
.contactForm textarea {
  height: 150px;
  margin-bottom: 30px;
}

.submitButton {
  min-height: 50px;
  background-color: white;
  border: 2px solid #121212;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Inconsolata";
  font-size: 1.5rem;
  cursor: pointer;
}
.submitButton:hover, .submitButton:focus {
  color: white;
  background-color: #121212;
  border: 2px solid white;
}

header {
  min-height: 100vh;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 55%;
  padding-top: 50px;
}
.navbar ul li {
  min-width: 20%;
  text-align: center;
}

.intro {
  margin-top: calc(50vh - 100px);
  padding-left: 15%;
}
.intro h1 {
  margin-bottom: 10px;
}

section {
  min-height: 100vh;
  padding: 0 15%;
}

#about {
  padding-top: 30%;
}
#about h3 {
  margin-bottom: 30px;
}

#projects,
#skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

#projects h3 {
  margin-bottom: 100px;
}
#projects .projectContainer {
  margin-bottom: 100px;
  padding: 25px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#projects .projectContainer .imageContainer {
  width: 50%;
  padding-right: 50px;
}
#projects .projectContainer .imageContainer img {
  height: 100%;
}
#projects .projectContainer .textContainer {
  width: 50%;
}
#projects .projectContainer .textContainer h4 {
  margin-bottom: 20px;
}
#projects .projectContainer .textContainer a {
  color: white;
}
#projects .projectContainer .linksContainer {
  margin-top: 20px;
}
#projects .projectContainer .linksContainer a:nth-child(1) {
  margin-right: 25px;
}
#projects .projectContainer:hover, #projects .projectContainer:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
}

#skills .skillsContainer {
  margin-top: 100px;
}
#skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#skills ul li {
  width: 20%;
  margin-bottom: 100px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#skills ul li i {
  font-size: 3rem;
  color: white;
}
#skills ul li p {
  margin-top: 10px;
}
#skills ul li:hover, #skills ul li:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contact {
  padding-top: 50px;
  padding-bottom: 100px;
  height: 40vh;
  min-height: 400px;
}
#contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contact .contactContainer .contactText,
#contact .contactContainer .contactFormContainer {
  width: 50%;
}
#contact .contactContainer .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60%;
  margin-top: 30px;
}
#contact .contactContainer .socialLinks li {
  margin-right: 30px;
}
#contact .contactContainer .socialLinks i {
  font-size: 2rem;
}
#contact .contactContainer h4,
#contact .contactContainer p {
  padding-right: 20%;
  margin-bottom: 20px;
}
#contact .contactContainer h4 a,
#contact .contactContainer p a {
  font-weight: bold;
}

footer p {
  text-align: center;
}

@media (max-width: 1600px) {
  .wrapper {
    width: 90%;
  }

  #projects .projectContainer .imageContainer {
    padding-right: 0;
  }
  #projects .projectContainer .imageContainer img {
    height: auto;
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  a, p {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 1000px) {
  .navbar ul {
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #projects .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .projectContainer .imageContainer,
#projects .projectContainer .textContainer {
    width: 100%;
  }
  #projects .projectContainer .imageContainer {
    margin-bottom: 20px;
  }

  #contact {
    height: 700px;
  }
  #contact .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .contactContainer .contactText,
#contact .contactContainer .contactFormContainer {
    width: 100%;
    margin-bottom: 20px;
  }
  #contact .socialLinks i {
    font-size: 1.4rem;
  }
}
@media (max-width: 900px) {
  #skills ul li {
    width: 25%;
  }
}
@media (max-width: 768px) {
  #skills ul li {
    width: 33%;
  }

  #contact {
    height: 800px;
  }
}
@media (max-width: 500px) {
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 80%;
  }
  .navbar ul li {
    text-align: right;
  }

  header .intro {
    margin-top: 20%;
    padding-left: 5%;
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  section {
    padding: 0 5%;
  }

  #about,
#projects,
#skills,
#contact {
    padding-top: 20px;
  }

  #projects {
    padding-bottom: 20px;
  }
  #projects h3 {
    margin-bottom: 20px;
  }

  #skills {
    padding-top: 20px;
  }
  #skills .skillsContainer {
    padding-top: 20px;
  }
  #skills ul li {
    width: 50%;
  }
}
@media (max-width: 450px) {
  .navbar ul {
    padding-left: 70%;
  }
}